body {
    padding: 0px 0px;
    margin: 0px 0px;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: .1em;
    font-family: sans-serif;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
    font-family: sans-serif;
    margin-top: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main {
    margin: 25px auto;
    width: 95%
}

pre.codeBlock, div.codeBlock {
  background-color:#eee;
  overflow:auto;
  margin:0 0 1em;
  padding:.5em 1em;
}

pre.codeBlock .codeLine,
pre.codeBlock .line-number,
div.codeBlock .codeLine,
div.codeBlock .line-number {
  font:normal normal 13px/16px "Monospace";
  color:black;
  display:block;
}

pre.codeBlock.codeBlock span.code, div.codeBlock span.code {
    min-width: 97%;
    display: inline-block;
}

pre.codeBlock .line-number, div.codeBlock .line-number {
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  
  -o-user-select: none;
  user-select: none;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

pre.codeBlock .line-number span, div.codeBlock .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre.codeBlock .cl {
  display:block;
  clear:both;
}

div.diffcontainer {
    position: relative;
    margin: 0 auto;
    display: none;
}

div.left {
    width: 40%;
    display: inline-block;
}

div.right {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

div.center {
    width: 14%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 20%;
    margin-left: 2%;
}
    

pre.codeBlock.left {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

pre.codeBlock.right {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
}

ul.toolbar {
    width: 11%;
    display: inline-block;
    right: 10px;
    top: 5em;
    position: absolute;
}

#report .reportTitle {
    border: thin solid lightgray;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 5px;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    width: 15em;
}
    

ul.toolbar li {
    border: thin solid lightgray;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 5px;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    cursor: pointer;
}

ul.toolbar li code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
    color: #333;
    line-height: 26px;
}

#buttons {
    white-space: nowrap;
    margin-bottom: 1em;
}

#buttons a {
    color: #8a6d3b;
    font-size: 18px;
}

#buttons a.disabled {
    color: #999;
    cursor: auto;
}

#buttons a.disabled:hover {
    text-decoration: none;
    cursor: default;
}

#prevNextLabel {
    width: 80%;
    text-align: center;
    display: inline-block;
}

div.gutter {
    float: left;
}

div.codeLine span.diff {
    cursor: pointer;
}

div.codeLine span.eq_off, div.codeLine span.type_off, div.codeLine span.missing_off {
    cursor: auto;
}

div.codeLine span.eq {
    background: rgba(50, 57, 88, 0.1);
}

div.codeLine span.type {
    background: rgba(192, 100, 94, 0.1);
}

div.codeLine span.missing {
    background: rgba(0, 100, 80, 0.1);
}

div.codeLine span.selected {
    background: #86abd9;
    color: white;
}

canvas.center {
    position: absolute;
    left: 40%;
    width: 20%;
    height: 100%;
    top: 0;
}

textarea {
    width: 100%;
    min-height: 500px;
    padding: 5px;
    background: #eee;
    border-radius: 4px;
    resize: vertical;
    white-space: pre;
    word-wrap: normal;
}

textarea.error {
    border-color: #FBC2C4;
}

pre.error {
    background: #FBE3E4;
    color: #D12F19;
    border: thin solid #FBC2C4;
    border-radius: 4px;
    padding: 1em;
    display: none;
}

span.filterBlock {
    margin-bottom: 1em;
}

span.filterBlock input {
    margin-left: 2em;
}

#report {
    margin-bottom: 1em;
    position: relative;
    height: 4em;
}

#report button {
    display: block;
    position: absolute;
    top: 0px;
    right: 12%;
}

button {
    font-size: 1.65em;
    color: #333;
    padding-left: .5em;
    padding-right: .5em;
}

.weak {
    color: #999;
    font-size: .9em;
    font-weight: normal;
    position: Absolute;
    top: 29px;
    left: 56%;
    right: 3%;
    padding-left: 5px;
}

p {
    margin-bottom: 1em;
}

.header {
    height: 8em;
}

span.fileInput {
    margin-left: 2em;
}

.throbber-loader:not(:required) {
    display: none;
}

.progress .throbber-loader:not(:required) {
    display: block;
    margin: 5px auto;
}
