body {background-color:white;padding:50px 50px}

pre {
  background-color:#eee;
  overflow:auto;
  margin:0 0 1em;
  padding:.5em 1em;
}

pre code,
pre .line-number, canvas {
  /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
  font:normal normal 12px/14px "Courier New",Courier,Monospace;
  color:black;
  display:block;
}

pre.codeBlock span.code {
    min-width: 97%;
    display: inline-block;
}

pre .line-number {
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
  line-height: 15px;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  
  -o-user-select: none;
  user-select: none;
}

pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
}

div.container {
    position: relative;
    width: 98%;
}

pre.left {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

pre.right {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
}

div.toolbar {
    width: 11%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    border: thin solid black;
    min-height: 500px;
}

div.gutter {
    float: left;
}

div.codeLine span.diff {
    cursor: pointer;
}

div.codeLine span.eq {
    background: wheat;
}

div.codeLine span.type {
    background: cyan;
}

div.codeLine span.missing {
    background: yellow;
}

div.codeLine span.selected {
    background: orange;
}

canvas.center {
    position: absolute;
    left: 40%;
    width: 20%;
    height: 100%;
    top: 0;
}
