body {background-color:white;padding:50px 50px}

pre {
  background-color:#eee;
  overflow:auto;
  margin:0 0 1em;
  padding:.5em 1em;
}

pre code,
pre .line-number {
  /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
  font:normal normal 12px/14px "Courier New",Courier,Monospace;
  color:black;
  display:block;
}

pre.codeBlock span.code {
    width: 33em;
    display: inline-block;
}

pre .line-number {
  float:left;
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
  width: 3em;
  line-height: 15px;
}

pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
}

div.container {
    position: relative;
    width: 62em;
}

pre.left {
    width: 35em;
}

pre.right {
    position: absolute;
    top: 0em;
    right: 0px;
    width: 35em;
}
